gsrc/wsi/schema/una/inscore/CPRulesOrderSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 **************************************************************
  (c) 2006 by ChoicePoint Asset Company.  All rights reserved.
 **************************************************************
-->
<xs:schema targetNamespace="http://cp.com/rules/client" xmlns:rf="http://cp.com/rules/client" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" elementFormDefault="qualified" jxb:version="1.0">

   <xs:include schemaLocation="CPRulesCommonElementsSchema.xsd"/>
   <xs:element name="order">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="client" type="rf:clientType"/>
            <xs:element ref="rf:accounting" minOccurs="0"/>
            <xs:element ref="rf:rule_plan" minOccurs="0"/>
            <xs:element name="return_format" type="rf:result_return_format" minOccurs="0"/>
            <xs:element name="products" type="rf:productChoiceType" minOccurs="0"/>
            <xs:element name="dataset" type="rf:datasetType"/>
           
          </xs:sequence>
         <xs:attribute name="version" type="xs:string" use="optional"/>
         <xs:attribute name="always_return_xml" type="xs:boolean" use="optional"/>
         <!-- added for pdf or tiff format conversion -->
	      </xs:complexType>
   </xs:element> <!-- order -->

   <xs:element name="accounting">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:pnc" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- accounting -->

   <xs:simpleType name="yesno">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="YesNoEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="yes"/>
         <xs:enumeration value="no"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="pnc">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="account">
               <!--Account Number would be either 6 digit or -->
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:pattern value="\d{6}([0-9 A-Z]{3})?"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="special_billing_id" minOccurs="0">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="15"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- pnc -->


   <xs:element name="rule_plan">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:positiveInteger" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- rule_plan -->

   <xs:complexType name="productChoiceType">
      <xs:choice maxOccurs="1">
         <xs:element ref="rf:auto_dataprefill"/>
         <xs:element ref="rf:vehicle_mileage"/>
         <xs:element ref="rf:claims_discovery"/>
	     <xs:element ref="rf:home_inspection_index"/>
	     <xs:element ref="rf:market_view_integrated"/>
         <xs:element ref="rf:property_dataprefill"/>
         <xs:element ref="rf:mvr_enhance_clue"/>
         <xs:element ref="rf:carrier_id"/>
         <xs:element ref="rf:clue_commercial"/>
         <xs:element ref="rf:report_alerts"/>
         <xs:element ref="rf:claims_datafill"/>
         <xs:element ref="rf:irs_verify"/>
         <xs:element ref="rf:clue_with_iid"/>
         <xs:choice maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <jxb:property name="productList"/>
               </xs:appinfo>
            </xs:annotation>
            <xs:element ref="rf:national_credit_file"/>
            <xs:element ref="rf:ssn_validation"/>
            <xs:element ref="rf:national_criminal"/>
            <xs:element ref="rf:clue_property"/>
            <xs:element ref="rf:clue_auto"/>
            <xs:element ref="rf:vehicle_identification"/>
            <xs:element ref="rf:autocheck_vehicle_identification"/>
            <xs:element ref="rf:motor_vehicle_report"/>
            <xs:element ref="rf:commercial_compid"/>
            <xs:element ref="rf:carrier_discovery"/>
            <xs:element ref="rf:commercial_credit"/>
            <xs:element ref="rf:riskview_attributes"/>
            <xs:element ref="rf:life_eir"/>
            <xs:element ref="rf:dataprefill_life"/>
             <xs:element ref="rf:prescription_history"/>
            <xs:element ref="rf:instantid"/>
			<xs:element ref="rf:commercial_dataprefill"/>
			<xs:element ref="rf:carrier_discovery_live"/>
			<xs:element ref="rf:optional_products"/>
			<xs:element ref="rf:lead_optimizer"/>
			<xs:element ref="rf:BuildingPermit"/>
			<xs:element ref="rf:PropertyData"/>
			<xs:element ref="rf:ForeclosureVacancy"/>
			<xs:element ref="rf:CurrentCarrierOnly"/>
			<xs:element ref="rf:FraudPoint"/>
			<xs:element ref="rf:PhysiciansInfo"/>
         </xs:choice>
      </xs:choice>
   </xs:complexType> <!-- productChoiceType -->

   <xs:element name="national_credit_file">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="type" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfTypeEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Regular NCF transaction"/>
                     <xs:enumeration value="FSI (Financial Stress Indicator)"/>
                     <xs:enumeration value="Government"/>
                     <xs:enumeration value="NCF Report"/>
                     <xs:enumeration value="Commercial Insurance"/>
                     <xs:enumeration value="Attract with Claims"/>
                     <xs:enumeration value="Independent Agent"/>
                     <xs:enumeration value="Social Search"/>
                     <xs:enumeration value="Parallel Product Report"/>
                     <xs:enumeration value="Address Update"/>
                     <xs:enumeration value="Canadian Search"/>
                     <xs:enumeration value="Multi Product Switch"/>
                     <xs:enumeration value="Concurrent"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>

            <xs:element name="usage" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfUsageEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Claims"/>
                     <xs:enumeration value="Underwriting"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>



            <xs:element name="current_carrier" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfBusinessEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Auto"/>
                     <xs:enumeration value="Property"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="report_code" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:javaType name="int" parseMethod="javax.xml.bind.DatatypeConverter.parseInt" printMethod="javax.xml.bind.DatatypeConverter.printInt"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:nonNegativeInteger">
                     <xs:maxInclusive value="9999"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="addon_product" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfAddonProductEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Current Carrier"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:choice minOccurs="0">
               <xs:element name="vendor" minOccurs="0">
                  <xs:simpleType>
                     <xs:annotation>
                        <xs:appinfo>
                           <jxb:typesafeEnumClass name="NcfVendorEnum"/>
                        </xs:appinfo>
                     </xs:annotation>
                     <xs:restriction base="xs:string">
                        <xs:enumeration value="Equifax"/>
                        <xs:enumeration value="Experian"/>
                        <xs:enumeration value="TransUnion"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="bypass_duplicate_order_check" minOccurs="0">
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:choice>
            <xs:element name="format" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfReturnFormatEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="EDITS 1"/>
                     <xs:enumeration value="EDITS 2"/>
                     <xs:enumeration value="Print Image"/>
                     <xs:enumeration value="CP XML"/>
                      <xs:enumeration value="XHTML"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="model_id" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:appinfo>
                     <jxb:property name="modelIdList"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="2"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>

            <xs:element name="policy_type" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NcfPolicyTypeEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Property 1"/>
                     <xs:enumeration value="Property 2"/>
                     <xs:enumeration value="Property All Risk"/>
                     <xs:enumeration value="Property Renter"/>
                     <xs:enumeration value="Property Condo"/>
                     <xs:enumeration value="Property Dwelling"/>
                     <xs:enumeration value="Auto Non-standard"/>
                     <xs:enumeration value="Auto Prefered"/>
                     <xs:enumeration value="Auto Preferred above minimum limits"/>
                     <xs:enumeration value="Auto Standard"/>
                     <xs:enumeration value="Auto Standard above minimum limits"/>
                     <xs:enumeration value="No score ordered"/>
                     <xs:enumeration value="Attract Auto 3.0"/>
                     <xs:enumeration value="Attract Home 3.0"/>
                     <xs:enumeration value="Attract One 3.0"/>
                     <xs:enumeration value="Other"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="policy_rating_state" minOccurs="0">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="2"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="optional"/>
         <xs:attribute name="joint_subject" type="xs:IDREF" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- national_credit_file -->


   <xs:element name="ssn_validation">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- ssn_validation -->


   <xs:element name="national_criminal">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="search" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="NationalCriminalSearchEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="lfmNameHitSearch"/>
                     <xs:enumeration value="lfmNameMasterSearch"/>
                     <xs:enumeration value="caseNumberHitSearch"/>
                     <xs:enumeration value="caseNumberMasterSearch"/>
                     <xs:enumeration value="fullNameHitSearch"/>
                     <xs:enumeration value="fullNameMasterSearch"/>
                     <xs:enumeration value="supplierList"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- national_criminal -->

   <xs:element name="carrier_discovery">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="company_number" type="xs:string"/>
            <xs:choice maxOccurs="1">
               <xs:element name="vin_search">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="vin" type="xs:string"/>
                        <xs:element name="enhance_subject" type="xs:IDREF" minOccurs="0"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="subject_search">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="subject" type="xs:IDREF"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- carrier_discovery -->

   <xs:element name="clue_property">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="usage" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="CluePropertyUsageEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Underwriting"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="reportType" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="CluePropertyReportTypeEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="C.L.U.E. Property and Real Property"/>
                     <xs:enumeration value="Real Property only"/>
                     <xs:enumeration value="C.L.U.E. Property only"/>
                     <xs:enumeration value="Current Carrier / C.L.U.E. Property and Real Property"/>
                     <xs:enumeration value="Current Carrier / C.L.U.E. Property Only"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="riskAddress" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="mailingAddress" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="formerAddress" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="mortgage" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="format" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="CluePropertyReturnFormatEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="EDITS 1"/>
                     <xs:enumeration value="EDITS 2"/>
                     <xs:enumeration value="Print Image"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="optional"/>
         <xs:attribute name="joint_subject" type="xs:IDREF" use="optional"/>
         <xs:attribute name="requestor_producer_name" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- clue_property -->

   <xs:element name="commercial_compid">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="riskAddress" type="xs:IDREF" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- commercial compid -->

   <!-- clue auto  -->
   <xs:element name="clue_auto">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="usage" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="ClueAutoUsageEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Personal"/>
                     <xs:enumeration value="Commercial"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="type" minOccurs="0">
               <xs:complexType>
                  <xs:simpleContent>
                     <xs:extension base="xs:string">
                  <xs:attribute name="subjectSearch" type="rf:yesno" use="optional" default="no"/>
                        <xs:attribute name="vinSearch" type="rf:yesno" use="optional" default="no"/>
                        <xs:attribute name="add" type="rf:yesno" use="optional" default="no"/>
                        <xs:attribute name="driverDiscovery" type="rf:yesno" use="optional" default="no"/>
                  <xs:attribute name="currentCarrier" type="rf:yesno" use="optional" default="no"/>
                  <xs:attribute name="attachments" type="rf:yesno" use="optional" default="no"/>
                     </xs:extension>
                  </xs:simpleContent>
               </xs:complexType>
            </xs:element>
            <xs:element name="format" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="ClueAutoReturnFormatEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="EDITS 1"/>
                     <xs:enumeration value="EDITS 2"/>
                     <xs:enumeration value="Print Image"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>

            <xs:element name="units" type="rf:clueSubjectVinType" minOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- clue_auto -->

   <xs:complexType name="clueSubjectVinType">
      <xs:choice maxOccurs="50">
         <xs:annotation>
            <xs:appinfo>
               <jxb:property name="clueSubjectVehicleList"/>
            </xs:appinfo>
         </xs:annotation>
         <xs:sequence>
            <xs:element name="subject" type="rf:identificationType" minOccurs="0"/>
            <xs:element name="vehicle" type="rf:identificationType" minOccurs="0"/>
         </xs:sequence>
      </xs:choice>
   </xs:complexType> <!-- clueSubjectVinType -->

   <xs:complexType name="identificationType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="ref" type="xs:IDREF" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType> <!-- identificationType -->
   
   <xs:simpleType name="productReturnFormat">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="productReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="MVR 100 Byte - Century Compliant"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>
      
   <xs:simpleType name="driverHistoryAge">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="driverHistoryAgeEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="thirtyDays"/>
         <xs:enumeration value="sixtyDays"/>
         <xs:enumeration value="ninetyDays"/>
         <xs:enumeration value="oneHundredTwentyDays"/>
      </xs:restriction>
   </xs:simpleType>


   <xs:element name="vehicle_identification">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="vehicles" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="vehicle" type="rf:identificationType" maxOccurs="99"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="1"/>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="optional"/>
         <xs:attribute name="type" type="rf:vin_report_type" use="required"/>
   </xs:complexType>   <!-- vehicle_identification -->
   </xs:element>
   <xs:element name="auto_dataprefill">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="required"/>
   </xs:complexType>   <!-- auto_data_prefill -->
   </xs:element>
    <xs:element name="claims_datafill">
      <xs:complexType>
         <xs:sequence>
			<xs:element name="carrier_name" type="xs:string"/>
			<xs:element name="carrier_policy_number" type="xs:string"/>
			<xs:element name="claim_number" type="xs:string"/>
			<xs:element name="claim_state" type="xs:string"/>
			<xs:element name="participant_number" type="xs:string"/>
			<xs:element name="date_of_loss" type="rf:USDateType" />
			<xs:element name="participant_type" type="rf:participantType" minOccurs="0" />
			<xs:element name="participant_role" type="rf:participantRole" minOccurs="0" />
	       	<xs:element name="participant_carrier_name" type="xs:string" minOccurs="0" />
			<xs:element name="participant_policy_number" type="xs:string" minOccurs="0"/>
			<xs:element name="subject_vin_info" type="rf:ClaimsDatafillSubjectVinType" minOccurs="1"/>
      	</xs:sequence>
         
   </xs:complexType>   <!-- claims_datafill -->
    </xs:element>
    
    <xs:complexType name="ClaimsDatafillSubjectVinType">
      <xs:choice maxOccurs="1">
         <xs:annotation>
            <xs:appinfo>
               <jxb:property name="ClaimsDatafillSubjectVehicleList"/>
            </xs:appinfo>
         </xs:annotation>
         <xs:sequence>
            <xs:element name="subject" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="vehicle" type="xs:IDREF" minOccurs="0"/>
         </xs:sequence>
      </xs:choice>
   </xs:complexType> <!-- ClaimsDatafillSubjectVinType -->
   <xs:element name="autocheck_vehicle_identification">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="vehicleIdentification" type="xs:IDREF" maxOccurs="99"/>
            <xs:element name="riskAddress" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="optional"/>
   </xs:complexType>   <!-- autocheck_vehicle_identification -->
   </xs:element>

   <xs:complexType name="stateSpecificMvrType">  <!-- motor_vehicle_report type -->
      <xs:choice maxOccurs="1">
			<xs:element name="AZ" >   <!-- Arizona -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="fiveYears" type="xs:boolean" default="false"/>
                  <xs:element name="thirtyNineMonths" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
			<xs:element name="AR" >  <!-- Arkansas -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="standard" type="xs:boolean" default="false"/>
                  <xs:element name="commercial" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="GA" >   <!-- Georgia -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="employment" type="xs:boolean" default="false"/>
                  <xs:element name="insurance" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
			<xs:element name="OR" >  <!-- Oregon -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="court" type="xs:boolean" default="false"/>
                  <xs:element name="driver" type="xs:boolean" default="false"/>
                  <xs:element name="employment" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
			<xs:element name="PA" > <!-- Pennsylvania -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="employment" type="xs:boolean" default="false"/>
                  <xs:element name="standard" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
			<xs:element name="VA" >   <!-- Virginia -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="insurance" type="xs:boolean" default="false"/>
                  <xs:element name="employment" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="WA" >  <!-- Washington -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="nonCommercial" type="xs:boolean" default="false"/>
                  <xs:element name="employment" type="xs:boolean" default="false"/>
                  <xs:element name="commercial" type="xs:boolean" default="false"/>
                  <xs:element name="life" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="NH" >  <!-- New Hampshire -->
            <xs:complexType>
               <xs:choice maxOccurs="1">
                  <xs:element name="employment" type="xs:boolean" default="false"/>
                  <xs:element name="life" type="xs:boolean" default="false"/>
                  <xs:element name="insurance" type="xs:boolean" default="false"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <!-- activityFileBit is required for California -->
   <xs:simpleType name="activityFileBitType">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="activityFileBitEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="one month"/>
         <xs:enumeration value="six months"/>
         <xs:enumeration value="twelve months"/>
         <xs:enumeration value="thirty-six months"/>
         <xs:enumeration value="sixty months"/>
         <xs:enumeration value="bypass"/>
      </xs:restriction>
   </xs:simpleType>

  <xs:complexType name="stateAmplifiedType"> <!-- motor_vehicle_report type -->
      <xs:choice maxOccurs="1">
			<xs:element name="FL" type="xs:boolean" default="false" />  <!-- Florida -->
           	<xs:element name="GA" type="xs:boolean" default="false" />  <!-- Georgia -->
         <!-- NC and SC are removed from amplified state bits-->
      </xs:choice>
   </xs:complexType>

  <xs:complexType name="stateSoundexType">  <!-- motor_vehicle_report type -->
      <xs:choice maxOccurs="1">
			<xs:element name="IL" type="xs:boolean" default="false" />  <!-- Illinois -->
			<xs:element name="MD" type="xs:boolean" default="false" />  <!-- Maryland -->
			<xs:element name="MI" type="xs:boolean" default="false" />  <!-- Michigan -->
			<xs:element name="FL" type="xs:boolean" default="false" />  <!-- Florida -->
			<xs:element name="NH" type="xs:boolean" default="false" />  <!-- New Hampshire -->
      </xs:choice>
   </xs:complexType>
   <xs:element name="motor_vehicle_report">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="0"/>
			
            <xs:element name="forceDmvAccessOnly" type="rf:booleanType" minOccurs="0"/>
            <xs:element name="driverHistoryAgeOverride" type="rf:driverHistoryAge" minOccurs="0"/>
            <!-- ADD is now an internal only field , so removed additionalDriverDiscovery element-->
            <xs:element name="clientIdentification" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="userId" type="xs:string"/>
                     <xs:element name="terminalId" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element> <!-- clientIdentification -->
            <xs:element name="type" type="rf:stateSpecificMvrType" minOccurs="0"/>
            <xs:element name="amplified" type="rf:stateAmplifiedType" minOccurs="0"/>
            <xs:element name="activityFileBit" type="rf:activityFileBitType" minOccurs="0"/>
            <xs:element name="soundex" type="rf:stateSoundexType" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>   <!-- motor_vehicle_report -->
   </xs:element>

   <xs:element name="vehicle_mileage">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="rf:parameter"/>
            <xs:element minOccurs="0" ref="rf:pnc"/>
            <xs:element minOccurs="0" name="usage">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="VmrUsageEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Insurance"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="report_type" minOccurs="0" type="rf:vmrReportType">
            </xs:element>
            <xs:element name="vehicles">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="rf:identificationType" maxOccurs="25" name="vehicle"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- vehicle_mileage-->

   <xs:element name="claims_discovery">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="company_number" type="xs:string"/>
            <xs:element name="addons" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="addon" minOccurs="0" maxOccurs="unbounded"
                        type="rf:addOnType"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="date_of_loss" type="rf:USDateType" minOccurs="0"/>
            <xs:element name="search_type" type="rf:searchChoiceType" minOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="carrier_id">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="company_number" type="xs:string"/>
            <xs:choice maxOccurs="1">
               <xs:element name="vin_search">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="vin" type="xs:string"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="subject_search">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="subject" type="xs:IDREF"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- carrier_id -->
   <xs:complexType name="searchChoiceType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element name="subject_search">
            <xs:complexType>
               <xs:sequence>
                  <xs:element type="rf:identificationType" maxOccurs="1" name="subject"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="vin_search">
            <xs:complexType>
               <xs:sequence>
                  <xs:element type="rf:identificationType" maxOccurs="1" name="vehicle"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:choice>
   </xs:complexType><!-- claims_discovery -->

   <xs:element name="property_dataprefill">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="reportType" type="rf:pdpf_report_type" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- property_dataprefill -->
<xs:element name="home_inspection_index">
      <xs:complexType>
      		<xs:sequence>
        	    <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         	</xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- hii -->

   <xs:element name="mvr_enhance_clue">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rf:pnc" minOccurs="0"/>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="0"/>
            <xs:element name="forceDmvAccessOnly" type="rf:booleanType" minOccurs="0"/>
            <xs:element name="clientIdentification" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="userId" type="xs:string"/>
                     <xs:element name="terminalId" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element> <!-- clientIdentification -->
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="required"/>
      </xs:complexType>

   </xs:element>	    <!-- mvr_enhance_clue -->

   <xs:element name="commercial_credit">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="data_provider_override" type="xs:string" minOccurs="0"/>
            <xs:element ref="rf:attract" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="business" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- Commercial Credit -->

   <xs:element name="attract">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="line_of_business" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element><!-- Commercial Attract -->

   <xs:element name="riskview_attributes">

      <xs:complexType>
         <xs:all>
            <xs:element minOccurs="0" name="options" type="rf:riskviewAttribOptions"/>
         </xs:all>
         <xs:attribute name="search_by_subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
	</xs:element><!-- riskview_attributes -->

   <xs:complexType name="riskviewAttribOptions">
      <xs:all>
         <xs:element minOccurs="0" name="includeModels" type="rf:riskviewAttribModels"/>
         <xs:element minOccurs="0" name="requestedAttributeGroups">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="riskviewAttribModels">
      <xs:all>
         <xs:element name="bankCard" type="xs:string"/>
         <xs:element name="auto" type="xs:string"/>
         <xs:element name="telecom" type="xs:string"/>
         <xs:element name="retail" type="xs:string"/>
         <xs:element name="moneyService" type="xs:string"/>
         <xs:element minOccurs="0" name="inPersonApplication" type="xs:boolean"/>
         <xs:element minOccurs="0" name="modelRequests">
            <xs:complexType>
               <xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="modelRequest" type="rf:modelRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>

   <xs:element name="dataprefill_life">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- dataprefill_life -->
   
   <xs:element name="prescription_history">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element name="insurance_id" type="xs:string" minOccurs="0"/>
             <xs:element name="request_id" type="xs:string" minOccurs="0"/>
             <xs:element name="primary_health_insured_ssns" type="rf:ssnListType" minOccurs="0"/>
			 <xs:element name="bypass_progressive_ordering" type="xs:boolean" default="false" minOccurs="0"/>
          </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- prescription_history -->

   <xs:element name="life_eir">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="format" type="rf:life_eir_return_format" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
	</xs:element><!-- life_eir -->
   <xs:element name="irs_verify">
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="F4506T" type="rf:F4506T_form"/>
          </xs:choice>
      </xs:complexType>
   </xs:element><!-- irs_verify -->
         
     <xs:element name="market_view_integrated">
      <xs:complexType>
      		<xs:sequence>
        	    <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         	</xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- market_view_integrated -->
   <xs:complexType name="F4506T_form">
      <xs:sequence>
         <xs:element name="transcript_form_number" type="rf:F4506T_transcript_form_number"/>
         <xs:element name="transcript_type" type="rf:F4506T_transcript_type"/>
         <xs:element name="tax_payer" type="xs:IDREF"/><!-- either a subject (ssn and last name are required); or a business (fein and company name are required); -->
         <xs:element name="joint_tax_payer" type="xs:IDREF" minOccurs="0"/><!--ssn and last name are required -->
         <xs:element name="tax_period_end_date" type="rf:USDateType" maxOccurs="4"/>
         <xs:element name="form" type="rf:encoded_file" />
         <xs:element name="form_signed_date" type="rf:USDateType"/>
         <xs:element name="esignature_audit_log" type="rf:encoded_file" minOccurs="0" />
      </xs:sequence>
   </xs:complexType><!-- F4506T_form -->
   
   <xs:simpleType name="F4506T_transcript_form_number">
      <xs:restriction base="xs:string">
         <xs:enumeration value="941"/>
         <xs:enumeration value="1040"/>
         <xs:enumeration value="1041"/>
         <xs:enumeration value="1065"/>
         <xs:enumeration value="1098"/>
         <xs:enumeration value="1099"/>
         <xs:enumeration value="1120"/>
         <xs:enumeration value="5498"/>
         <xs:enumeration value="W2"/>
      </xs:restriction>
   </xs:simpleType><!-- F4506T_transcript_form_number -->        
                     
                     
   <xs:simpleType name="F4506T_transcript_type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="RETURN_TRANS"/>
         <xs:enumeration value="ACCOUNT_TRANS"/>
         <xs:enumeration value="REC_OF_ACCOUNT"/>
         <xs:enumeration value="VER_OF_NONFILE"/>
         <xs:enumeration value="SPEC_SERIES"/>
      </xs:restriction>
   </xs:simpleType><!-- F4506T_transcript_type --> 
     
     
    <xs:element name="report_alerts">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="report_type" minOccurs="0">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="ReportAlertsSearchEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="ClaimsComprehensive"/>
                     <xs:enumeration value="PeopleLocator"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="company_number" type="xs:string"/>
            <xs:element name="search_criteria">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="subject" type="xs:IDREF" minOccurs="0"/>
                     <xs:element name="date_of_loss" type="rf:USDateType" minOccurs="0"/>
                     <xs:element name="original_subject" type="xs:IDREF" minOccurs="0"/>
                     <xs:element name="unique_id" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- report_alerts -->
   <xs:simpleType name="life_eir_return_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="LifeEIRReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="XHTML"/>
      </xs:restriction>
	</xs:simpleType> <!-- life_eir_return_format -->

   <xs:element name="clue_commercial">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="type_of_search" minOccurs="1">
               <xs:simpleType>
                  <xs:annotation>
                     <xs:appinfo>
                        <jxb:typesafeEnumClass name="TypeofSearchEnum"/>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="Name Search"/>
                     <xs:enumeration value="Location Search"/>
                     <xs:enumeration value="PolicyNumber Search"/>
                     <xs:enumeration value="Driver Search"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="lines_of_business" type="rf:lineOfBusinessListType" minOccurs="1"/>
            <xs:element name="policy_effective_date" type="rf:USDateType" minOccurs="1"/>
            <xs:element name="prior_insurance_carriers" type="rf:priorInsuranceCarrierListType"
               minOccurs="0"/>
            <xs:element name="subjects" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="subject" type="rf:idType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="businesses" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="business" type="rf:idType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="addresses" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="primary_addresses" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="address" type="rf:idType" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="mailing_addresses" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="address" type="rf:idType" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="former_addresses"  minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="address" type="rf:idType" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="policies" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="policy" type="rf:idType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!-- clue_commercial -->

   <xs:complexType name="priorInsuranceCarrierListType">
      <xs:sequence>
         <xs:element name="prior_insurance_carrier" type="xs:string" minOccurs="1" maxOccurs="50"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="lineOfBusinessListType">
      <xs:sequence>
         <xs:element name="line_of_business" type="rf:lineOfBusinessType" minOccurs="1"
            maxOccurs="4"/>
      </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="lineOfBusinessType">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="lineOfBusinessEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="CA"/>
         <xs:enumeration value="WC"/>
         <xs:enumeration value="BI"/>
         <xs:enumeration value="SB"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="idType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:IDREF" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <!-- idType -->

   <xs:element name="instantid">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- instantid -->
   
    <xs:element name="commercial_dataprefill">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="format" type="rf:productReturnFormat" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
   </xs:complexType>   <!-- commercial_dataprefill -->
   </xs:element>
      
     <xs:element name="optional_products">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- optional_products -->
   
    <xs:complexType name="ssnListType">
        <xs:sequence>
            <xs:element name="primary_ssn" type="rf:ssnType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:property name="ssnList"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType> <!-- ssnListType -->
    
    	    <xs:simpleType name="ssnType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{9}"/>
        </xs:restriction>
    </xs:simpleType> 

	<xs:element name="carrier_discovery_live">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="reportType" type="rf:live_report_type" />
			<xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- carrier_discovery_live -->

    <xs:element name="clue_with_iid">
      <xs:complexType>
      		<xs:sequence>
      			<xs:element name="report_type" type="rf:clueiid_report_type" minOccurs="0" />
        	    <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
         	</xs:sequence>
         <xs:attribute name="subject" type="xs:IDREF" use="required"/>
      </xs:complexType>
   </xs:element> <!-- clue with iid -->
   
   <xs:element name="lead_optimizer">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="rf:parameter" minOccurs="0" maxOccurs="unbounded"/>
			
            <xs:element ref="rf:pnc" minOccurs="0"/>
			<xs:element name="carrierAccount">
               <!--Account Number would be either 6 digit or -->
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:pattern value="\d{6}([0-9 A-Z]{3})?"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="LeadInfo" type="rf:LeadInfoStruct" minOccurs="0"/>		
			<xs:element name="additionalSubjects" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="additionalSubject" maxOccurs="unbounded">
   					 <xs:complexType>
     					<xs:simpleContent>
      							<xs:extension base="rf:idType">
       									<xs:attribute name="RelationToTarget" type="xs:string" use="optional"/>
      							</xs:extension>
     					</xs:simpleContent>
   					 </xs:complexType>
  					 </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
			<xs:element name="vehicles" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="vehicle" type="rf:identificationType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
			
			<xs:element minOccurs="0" name="policies">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="policy" type="rf:identificationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:IDREF" use="required"/>
      </xs:complexType>

   </xs:element>	    
   
   <xs:complexType name="LeadInfoStruct">
		<xs:all>
			<xs:element minOccurs="0" name="SourceLeadID" type="xs:string"/>
			<xs:element minOccurs="0" name="TargetLineOfBusiness" type="xs:string"/>
			<xs:element minOccurs="0" name="LeadPrice" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	
	 <xs:element name="BuildingPermit">
      <xs:complexType>
      		<xs:sequence>
      			<xs:element name="ReportType" type="xs:string" minOccurs="0" />
				<xs:element name="PermitID" type="xs:string" minOccurs="0" />
				<xs:element name="Subject" type="xs:IDREF"  minOccurs="0" />
				<xs:element name="RoofYear" type="xs:string" minOccurs="0" />
				<xs:element name="YearBuilt" type="xs:string" minOccurs="0" />
         	</xs:sequence>
      </xs:complexType>
   </xs:element> 

    <xs:element name="PropertyData">
      <xs:complexType>
      		<xs:sequence>
      			<xs:element name="Subject" type="xs:IDREF"  minOccurs="0" />
		 	</xs:sequence>
      </xs:complexType>
   </xs:element> 
   
	<xs:element name="ForeclosureVacancy">
      <xs:complexType>
      	<xs:sequence>
      		<xs:element name="ServiceType" type="xs:string" minOccurs="0" />
			<xs:element name="Subject" type="xs:IDREF"  minOccurs="0" />
		</xs:sequence>	
      </xs:complexType>
   </xs:element> <!-- foreclosure_vacancy -->   
   
   <xs:element name="CurrentCarrierOnly">
      <xs:complexType>
      		<xs:sequence>
      			<xs:element name="Subject" type="xs:IDREF"  minOccurs="0" />
		 	</xs:sequence>
      </xs:complexType>
   </xs:element>

	<xs:element name="FraudPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Subject" type="xs:IDREF" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element> <!-- fraud point -->
   
    <xs:element name="PhysiciansInfo">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Physician" type="xs:IDREF" minOccurs="0" />
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- PhysiciansInfo -->
   
</xs:schema>
