gsrc/una/integration/service/creditreport/ncf/xsd/CPRulesResultSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 **************************************************************
  (c) 2006 by ChoicePoint Asset Company.  All rights reserved.
 **************************************************************
-->
<xs:schema targetNamespace="http://cp.com/rules/client" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rf="http://cp.com/rules/client" elementFormDefault="qualified" attributeFormDefault="unqualified" jxb:version="1.0">
   <xs:include schemaLocation="CPRulesCommonElementsSchema.xsd"/>
   <xs:element name="result">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="client" type="rf:clientType" minOccurs="0"/>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="order_dataset" type="rf:datasetType" minOccurs="0"/>
            <xs:element name="discovered_dataset" type="rf:datasetType" minOccurs="0"/>
            <xs:element name="product_results" type="rf:productResultsType" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="transaction_id" type="xs:string" use="optional"/>
         <xs:attribute name="result_id" type="xs:string" use="optional"/>
         <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
         <xs:attribute name="final" type="xs:boolean" use="required"/>
      </xs:complexType>
   </xs:element>	<!-- result -->

   <xs:complexType name="productResultsType">
      <xs:choice maxOccurs="1">
         <xs:element ref="rf:auto_data_prefill" />                
         <xs:element ref="rf:vehicle_mileage"/>
         <xs:element ref="rf:property_data_prefill" />
         <xs:element ref="rf:clue_commercial"/>
         <xs:element ref="rf:irs_verify"/>
      <xs:choice maxOccurs="unbounded">
         <xs:annotation>
            <xs:appinfo>
               <jxb:property name="productResultList"/>
            </xs:appinfo>
         </xs:annotation>
         <xs:element ref="rf:national_credit_file"/>
         <xs:element ref="rf:ssn_validation"/>
         <xs:element ref="rf:national_criminal"/>
         <xs:element ref="rf:clue_personal_auto"/>
         <xs:element ref="rf:clue_personal_property"/>
         <xs:element ref="rf:vehicle_identification"/>
         <xs:element ref="rf:autocheck_vehicle_identification"/>
         <xs:element ref="rf:motor_vehicle_report" />
         <xs:element ref="rf:commercial_national_credit_file" />
         <xs:element ref="rf:commercial_compid" />
         <xs:element ref="rf:commercial_scoring" />
         <xs:element ref="rf:carrier_discovery" />
		 <xs:element ref="rf:carrier_discovery_enhanced" />
         <xs:element ref="rf:claims_discovery" />
		 <xs:element ref="rf:carrier_id"/>
		 <xs:element ref="rf:supplementary_report"/>
		 <xs:element ref="rf:commercial_credit"/>
		 <xs:element ref="rf:riskview_attribute"/>
         <xs:element ref="rf:life_eir"/>
         <xs:element ref="rf:report_alerts"/>
 		 <xs:element ref="rf:loss_damage_waiver_score"/>
 		 <xs:element ref="rf:claims_datafill" />
         <xs:element ref="rf:score_result" />
		 <xs:element name="phone_result"  type="rf:phone_search" />
		 <xs:element name="rollup_person"  type="rf:rollup_person_search" />
		 <xs:element ref="rf:household_member"/>
         <xs:element ref="rf:instantid"/>
         <xs:element ref="rf:prescription_history"/>
		 <xs:element ref="rf:home_inspection_index"/>
		 <xs:element ref="rf:carrier_discovery_live"/>
     	<xs:element ref="rf:market_view_integrated"/>
		<xs:element ref="rf:lead_optimizer"/>
		<xs:element ref="rf:BuildingPermit"/>
		<xs:element ref="rf:PhysiciansInfo"/>
		<xs:element ref="rf:PropertyData"/>
		<xs:element ref="rf:ForeclosureVacancyReport"/>
        <xs:element ref="rf:optional_products"/>
        <xs:element ref="rf:CurrentCarrierOnly"/>
        <xs:element ref="rf:FraudPoint"/>
      </xs:choice>
      </xs:choice>
   </xs:complexType> <!-- productResultsType -->

   <xs:element name="national_credit_file">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:ncf_report" minOccurs="0"/>
            <xs:element name="formatted_report" type="rf:formated_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="primary_subject" type="xs:string" use="required"/>
         <xs:attribute name="joint_subject" type="xs:string" use="optional"/>
         <xs:attribute name="subject_id" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- national_credit_file -->


   <xs:complexType name="ncf_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:ncf_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- ncf_report -->


   <xs:simpleType name="ncf_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="NcfReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
           <xs:enumeration value="XHTML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- ncf_format -->

   <!--   End of Ncf Information -->
   <xs:element name="commercial_national_credit_file">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:commercial_ncf_report" minOccurs="0"/>
         </xs:sequence>
<!--         <xs:attribute name="primary_subject" type="xs:string" use="required"/>
         <xs:attribute name="joint_subject" type="xs:string" use="optional"/>-->
      </xs:complexType>
   </xs:element> <!-- commercial_national_credit_file -->


   <xs:complexType name="commercial_ncf_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="bureau" type="rf:commercial_ncf_bureau" use="required"/>
            <xs:attribute name="format" type="rf:commercial_ncf_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- commercial_ncf_report -->


   <xs:simpleType name="commercial_ncf_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CommercialNcfReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="CPUV6"/>
      </xs:restriction>
   </xs:simpleType>  <!-- commercial_ncf_format -->

   <xs:simpleType name="commercial_ncf_bureau">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CommercialNcfBureauEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Experian"/>
         <xs:enumeration value="Equifax"/>
         <xs:enumeration value="Dun&amp;Bradstreet"/>
      </xs:restriction>
   </xs:simpleType>  <!-- commercial_ncf_bureau -->

   <!--   End of Commercial Ncf Information -->
   
   <xs:element name="commercial_credit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="report" type="rf:commercial_credit_report" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" default="2.0"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="commercial_credit_report">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="format" type="rf:commercial_credit_format" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="commercial_credit_format">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass name="CNCFReturnFormatEnum"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CP XML"/>
		</xs:restriction>
	</xs:simpleType>
	

   <xs:element name="clue_personal_auto">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:clue_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- clue_personal_auto -->

   <xs:complexType name="clue_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:clue_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- clue_report -->


   <xs:simpleType name="clue_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ClueReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- clue_format -->

   <!--   End of Clue Auto Information -->
   
   <xs:element name="auto_data_prefill" type="rf:autoDataPrefill"/>
      <xs:complexType name="autoDataPrefill">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:adp_report" minOccurs="0"/>
            <xs:element name="additional_products" type="rf:additional_products" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
      </xs:complexType>
   
    <xs:element name="claims_datafill">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="carrier_name" type="xs:string" minOccurs="0"/>
			<xs:element name="carrier_policy_number" type="xs:string" minOccurs="0"/>
			<xs:element name="claim_number" type="xs:string" minOccurs="0"/>
			<xs:element name="claim_state" type="xs:string" minOccurs="0"/>
			<xs:element name="participant_number" type="xs:string" minOccurs="0"/>
			<xs:element name="participant_type" type="rf:participantType" minOccurs="0"/>
			<xs:element name="participant_role" type="rf:participantRole" minOccurs="0" />
			<xs:element name="date_of_loss" type="rf:USDateType" minOccurs="0"/>
	       	<xs:element name="participant_carrier_name" type="xs:string" minOccurs="0"/>
			<xs:element name="participant_policy_number" type="xs:string" minOccurs="0"/>
			<xs:element name="formatted_report" type="rf:formated_report" minOccurs="0"/>
			<xs:element name="report" type="rf:claims_data_fill_report" minOccurs="0"/>
          </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- claims_datafill -->
   
 
   <xs:element name="vehicle_mileage" type="rf:vehicleMileage"/>
      <xs:complexType name="vehicleMileage">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:vmr_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
      </xs:complexType>

   
   <xs:complexType name="adp_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:adp_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- adp_report -->
   
   
     <xs:complexType name="cdf_report">
    	<!-- <xs:sequence>
    		<xs:element name="report" type="rf:formated_report_info" minOccurs="0" maxOccurs="unbounded"/> 
    	</xs:sequence> -->
    	 <xs:simpleContent>
         <xs:extension base="xs:string" />
     </xs:simpleContent>
	 </xs:complexType>  <!-- cdf_report -->
   
   
   
   <xs:simpleType name="adp_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ADPReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- adp_format -->
   <!--End of Auto Data Prefill report information (ADP)-->
   
   <xs:element name="clue_personal_property">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:clup_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element> <!-- clue_personal_auto -->

   <xs:complexType name="clup_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:clup_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- clup_report -->


   <xs:simpleType name="clup_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ClupReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- clup_format -->

   <!--   End of Clue Property Information -->
   <xs:element name="commercial_compid">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:commercial_compid_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- commercial_compid -->

   <xs:complexType name="commercial_compid_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:commercial_compid_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- commercial_compid_report -->


   <xs:simpleType name="commercial_compid_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CommercialCompidReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- commercial_compid_format -->
   <!-- end of commercial_compid information -->
   <xs:element name="dun_and_bradstreet">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="report" type="rf:dun_and_bradstreet_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:complexType name="dun_and_bradstreet_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:dun_and_bradstreet_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   <xs:simpleType name="dun_and_bradstreet_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="DunAndBradstreetReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:element name="vehicle_identification">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:vin_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- vehicle_identification -->


   <xs:complexType name="vin_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:vin_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- vin_report -->


   <xs:simpleType name="vin_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="VinReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- vin_format -->

   <!--   End of Vin Information -->
   
   <xs:simpleType name="vmr_report">
         <xs:restriction base="xs:string"/>
   </xs:simpleType>  <!-- vin_report -->
      

   <xs:element name="ssn_validation">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element> <!-- ssn_validation -->


   <xs:element name="national_criminal">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element> <!-- national_criminal -->

   <xs:element name="autocheck_vehicle_identification">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="vin" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element> <!-- autocheck_vehicle_identification -->

   <xs:element name="motor_vehicle_report">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
            <xs:element name="formatted_report" type="rf:formated_report" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="optional"/>
         <xs:attribute name="subject_id" type="xs:string" use="optional"/>         
      </xs:complexType>
   </xs:element> <!-- motor_vehicle_report -->

   <xs:element name="commercial_scoring">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0" />
            <xs:element name="modelId" type="xs:string" />
            <xs:element name="score" type="xs:string" minOccurs="0" />
            <xs:element name="reason_codes" type="rf:scoring_reason_code" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element> <!-- commercial_scoring-->

   <xs:complexType name="scoring_reason_code">
      <xs:sequence>
         <xs:element name="reason_code" type="xs:string" />
         <xs:element name="reason_text" type="xs:string" />
      </xs:sequence>
   </xs:complexType> <!-- scoring_reason_code -->

   <xs:element name="carrier_discovery">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:carrier_discovery_format" use="required" />
      </xs:complexType>
   </xs:element> <!-- carrier_discovery -->

   <xs:simpleType name="carrier_discovery_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CarrierDiscoveryReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- carrier_discovery_format -->

   <!--   End of Carrier Discovery Information -->
    <xs:element name="carrier_discovery_enhanced">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
               <xs:element name="report" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="format" type="rf:carrier_discovery_enhanced_format" use="required" />
         </xs:complexType>
      </xs:element> <!-- carrier_discovery_enhanced -->
   
      <xs:simpleType name="carrier_discovery_enhanced_format">
         <xs:annotation>
            <xs:appinfo>
               <jxb:typesafeEnumClass name="CarrierDiscoveryEnhancedReturnFormatEnum"/>
            </xs:appinfo>
         </xs:annotation>
         <xs:restriction base="xs:string">
            <xs:enumeration value="EDITS 1"/>
            <xs:enumeration value="EDITS 2"/>
            <xs:enumeration value="Print Image"/>
            <xs:enumeration value="CP XML"/>
         </xs:restriction>
	</xs:simpleType>
	<!-- carrier_discovery_enhanced_format -->
   <xs:element name="claims_discovery">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
               <xs:element name="report" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="format" type="rf:claims_discovery_format" use="required" />
         </xs:complexType>
      </xs:element> <!-- carrier_discovery_enhanced -->
   
      <xs:simpleType name="claims_discovery_format">
         <xs:annotation>
            <xs:appinfo>
               <jxb:typesafeEnumClass name="ClaimsDiscoveryReturnFormatEnum"/>
            </xs:appinfo>
         </xs:annotation>
         <xs:restriction base="xs:string">
            <xs:enumeration value="EDITS 1"/>
            <xs:enumeration value="EDITS 2"/>
            <xs:enumeration value="Print Image"/>
            <xs:enumeration value="CP XML"/>
         </xs:restriction>
	</xs:simpleType>
	<!-- claims_discovery_format -->
	<xs:element name="carrier_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
				<xs:element name="report" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="format" type="rf:carrier_id_format" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- carrier_id -->
	<xs:simpleType name="carrier_id_format">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass name="CarrierIdReturnFormatEnum"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CP XML"/>
		</xs:restriction>
	</xs:simpleType>
	<!--   End of Carrier ID Information -->
   <xs:element name="supplementary_report">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:supplementary_report_info" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="name" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element> <!-- supplementary_report -->
   
   <xs:complexType name="supplementary_report_info">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:supplementary_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- supp_report -->

   <xs:simpleType name="supplementary_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="SupplementaryReportReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- supplementary_report_format -->

   <!--   End of Supplementary Report -->
   <xs:complexType name="claims_data_fill_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:formated_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- property_data_prefill_report -->
   
<xs:complexType name="formated_report">
	<xs:sequence>
		<xs:element name="report" type="rf:formated_report_info" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType> <!-- formated_report -->
   
   <xs:complexType name="formated_report_info">
      <xs:simpleContent>
      <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:formated_report_format" use="required"/>
            <xs:attribute name="encoded" type="xs:boolean" use="required" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- supp_report -->

   <xs:simpleType name="formated_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="FormatedReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="PDF"/>
         <xs:enumeration value="TIFF"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- supplementary_report_format -->

   <!--   End of formated  Report -->
   
   <xs:element name="property_data_prefill" type="rf:propertyDataPrefill"/>
      <xs:complexType name="propertyDataPrefill">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:property_data_prefill_report" minOccurs="0"/>
            <xs:element name="additional_products" type="rf:additional_products" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="subject" type="xs:string" use="required"/>
      </xs:complexType>
 
   <xs:complexType name="property_data_prefill_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:property_dataprefill_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- property_data_prefill_report -->
   
   <xs:simpleType name="property_dataprefill_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="property_dataprefill_FormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="EDITS 1"/>
         <xs:enumeration value="EDITS 2"/>
         <xs:enumeration value="Print Image"/>
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- property_dataprefill_format -->

   <!--   End of property_data_prefill Information -->
  
	<!-- Start of score_result -->
	<xs:element name="score_result">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="SubjectSource" type="rf:ScoreSubjectSource" />					
				<xs:element minOccurs="0" name="Id" type="xs:string" />
				<xs:element minOccurs="0" name="OrderId" type="xs:string" /> 
				<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string" />
				<xs:element minOccurs="0" name="Models">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded"
								name="Model" type="rf:ScoringModelResult" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="Attributes" type="rf:AttributesType"/>
				<xs:element minOccurs="0" name="Messages">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="unbounded" name="Message" type="rf:InsuranceReportMessage"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
  <xs:complexType name="AttributesType">
	<xs:sequence>
		<xs:element minOccurs="0" name="ScoringDate" type="rf:USDateType" />
		<xs:element minOccurs="0" name="AttributesResults">
            <xs:complexType>
                 <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" type="rf:AttributesResultType"/>
                 </xs:sequence>
            </xs:complexType>
        </xs:element>
	</xs:sequence>
  </xs:complexType>
			
 <xs:complexType name="AttributesResultType">  	
  <xs:sequence>
 	<xs:element minOccurs="0" name="Subject" type="rf:AttributesSubjectType"/>	<!-- subject -->
	<xs:element minOccurs="0" name="AttributesPacks" >
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"	name="AttributesPack" type="rf:AttributesPackType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="AttributesPackType">
	<xs:sequence> 
		<xs:element minOccurs="0" name="Model"> <!-- cdf1,cdf2 -->
			<xs:complexType>
				<xs:sequence>
					<xs:element minOccurs="0" name="Code" type="xs:string" />
					<xs:element minOccurs="0" name="Name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" name="Messages">
			<xs:complexType>
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"	name="Message" type="rf:ScoreMessage" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" name="DevelopedAttributes">
			<xs:complexType>
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"	name="Attribute" type="rf:NameValuePair" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
    </xs:sequence>
</xs:complexType>		
	
<xs:complexType name="AttributesSubjectType">
	<xs:sequence>
	 	<xs:element minOccurs="0" name="Id" type="xs:string" /> 
		<xs:element minOccurs="0" name="Name" type="rf:SubjectNameType"/>
		<xs:element minOccurs="0" name="ParticipantNumber" type="xs:string"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="SubjectNameType">
	 <xs:sequence>
           <xs:element name="Prefix" type="xs:string" minOccurs="0"/>
           <xs:element name="First" type="xs:string" minOccurs="0"/>
           <xs:element name="Middle" type="xs:string" minOccurs="0"/>
           <xs:element name="Last" type="xs:string" minOccurs="0"/>
           <xs:element name="Suffix" type="xs:string" minOccurs="0"/>
      </xs:sequence>
</xs:complexType>

 	<xs:complexType name="ScoreSubjectSource">
		<xs:attribute name="source" use="required" type="rf:subjectSourceTypeEnum"/>
		<xs:attribute name="ref" type="xs:IDREF" use="required" />
	</xs:complexType>
	<xs:simpleType name="subjectSourceTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="clue auto" />
			<xs:enumeration value="clup property" />
			<xs:enumeration value="ncf" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ScoringModelResult">
		<xs:all>
			<xs:element minOccurs="0" name="Id" type="xs:string" />
			<xs:element minOccurs="0" name="Name" type="xs:string" />
			<xs:element minOccurs="0" name="Description" type="xs:string" />
			<xs:element minOccurs="0" name="Score" type="xs:string" />
			<xs:element minOccurs="0" name="Messages">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded"
							name="Message" type="rf:ScoreMessage" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded"
							name="Attribute" type="rf:NameValuePair" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ScoreMessage">
		<xs:all>
			<xs:element minOccurs="0" name="MessageType" type="xs:string" />
			<xs:element minOccurs="0" name="Code" type="xs:string" />
			<xs:element minOccurs="0" name="Description" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:all>
			<xs:element minOccurs="0" name="Name" type="xs:string" />
			<xs:element minOccurs="0" name="Value" type="xs:string" />
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="InsuranceReportMessage">
		<xs:all>
			<xs:element minOccurs="0" name="Classification" type="xs:string"/>
			<xs:element minOccurs="0" name="Type" type="xs:string"/>
			<xs:element minOccurs="0" name="Code" type="xs:string"/>
			<xs:element minOccurs="0" name="Message" type="xs:string"/>
			<xs:element minOccurs="0" name="FailureStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="ApplicationStatus" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	
   <!-- End of score_result -->
  
   <xs:element name="riskview_attribute">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:riskview_attribute_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> 
   <!-- riskview_attribute -->
   
   <xs:complexType name="riskview_attribute_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:riskview_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- riskview_attribute_report -->
   
   
   <xs:simpleType name="riskview_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="RiskViewReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- riskview_format -->
   <!--End of RiskView report information (riskview)-->
   
   
   <xs:element name="prescription_history">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:prescription_history_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element> 
   <!-- prescription_history -->
   
  
   
   <xs:complexType name="prescription_history_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:ph_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- prescription_history_report -->
   
   
   
   <xs:simpleType name="ph_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="phReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- riskview_format -->
   <!--End of prescription_histroy_report  information -->
   
   <xs:element name="home_inspection_index">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
               <xs:element name="report" type="rf:home_inspection_index_report" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="subject" type="xs:string" use="optional"/>
        </xs:complexType>
   </xs:element> 
    <xs:complexType name="home_inspection_index_report">
         <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:pii_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType> 
   <xs:simpleType name="pii_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="PIIReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- PII -->

   
    <xs:element name="market_view_integrated">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
               <xs:element name="report" type="rf:market_view_integrated_report" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="subject" type="xs:string" use="optional"/>
        </xs:complexType>
   </xs:element> 
    <xs:complexType name="market_view_integrated_report">
         <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:mdp_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType> 
   <xs:simpleType name="mdp_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="MDPReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="RISK XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- End Of Market View At Prefill -->
   
   <xs:complexType name="additional_products">
      <xs:sequence>
         <xs:element name="instantid_result" type="rf:instantid_report" minOccurs="0"/>
         <xs:element name="foreclosure_vacancy" type="rf:foreclosure_vacancy" minOccurs="0"/>
         <xs:element name="property_information" type="rf:property_information" minOccurs="0"/>
		 <xs:element name="insurance_scoring_service_result" type="rf:iss_report" minOccurs="0"/>
		 <xs:element name="watercraft_report" type="rf:watercraft_report" minOccurs="0"/>
		 <xs:element name="email_search_result" type="rf:email_search" minOccurs="0"/>
		 <xs:element name="phone_search_result" type="rf:phone_search" minOccurs="0"/>
		 <xs:element name="auto_rating" type="rf:auto_rating" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>  <!-- additional_products -->
   
   <xs:complexType name="instantid_report">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:instantid_product_result" minOccurs="0"/>
         </xs:sequence>
   </xs:complexType>   
   
   <xs:complexType name="instantid_product_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:instantid_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- instantid_report -->
   
   <xs:simpleType name="instantid_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="InstantIDFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- instantid_report_format -->
   
   <xs:element name="life_eir">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:life_eir_report" minOccurs="0"/>
            <xs:element name="formatted_report" type="rf:formated_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>   <!-- life_eir -->
  
   
   <xs:complexType name="life_eir_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:life_eir_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- life_eir_report -->
   
   <xs:simpleType name="life_eir_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="LifeEIRReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="RISK XML"/>
         <xs:enumeration value="XHTML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- life_eir_report_format -->

   <xs:element name="irs_verify">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="order_status" type="rf:irs_order_status_type" minOccurs="1"/>
            <xs:element name="report" type="rf:encoded_file" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="irs_order_id" type="xs:string"/>
      </xs:complexType>
   </xs:element>   <!-- irs_verify -->

   

   <xs:simpleType name="irs_order_status_type">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="IrsOrderStatusTypeEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="QA Review"/>
         <xs:enumeration value="Form Approved"/>
         <xs:enumeration value="Form Rejected"/><!-- complete with error -->
         <xs:enumeration value="Sent to IRS"/>
         <xs:enumeration value="Complete"/><!-- complete success -->
         <xs:enumeration value="Canceled"/><!-- complete with error -->
         <xs:enumeration value="Internal Error"/><!-- complete with error -->
         <xs:enumeration value="IRS Communication Error"/><!-- complete with error -->
      </xs:restriction>
   </xs:simpleType>    <!-- irs_order_status_type -->
   
                
 <xs:element name="clue_commercial" type="rf:clueCommercial"/>
      <xs:complexType name="clueCommercial">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:clue_commercial_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   
     <xs:complexType name="clue_commercial_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:clue_commercial_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- clue_commercial_report -->
   
   <xs:simpleType name="clue_commercial_report_format">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass name="ClueCommercialReturnFormatEnum"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CP XML"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- foreclosure_vacancy -->
	<xs:complexType name="foreclosure_vacancy">
          <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:foreclosurevacancies_report" minOccurs="0"/>
         </xs:sequence>
    </xs:complexType>
   
   <!-- foreclosure_vacancy -->
   
   <xs:complexType name="foreclosurevacancies_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:foreclosurevacancies_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  
   
   
   <xs:simpleType name="foreclosurevacancies_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ForeclosureVacanciesFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="RISK XML"/> 
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  
   <!--End of ForeclosureVacancies report information (foreclosurevacancies)-->
   
   
   <xs:complexType name="property_information">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:property_info_report" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
  
   
   <xs:complexType name="property_info_report">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:propinfo_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- property_info_report -->
    <xs:simpleType name="propinfo_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="PropInfoFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- propinfo_format -->
   
   <xs:complexType name="iss_report">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:iss_product_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> <!-- iss_report -->
   
   <xs:complexType name="iss_product_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:iss_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- iss_product_result -->
   
   <xs:simpleType name="iss_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ISS_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- iss_report_format -->

  <xs:complexType name="watercraft_report">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:watercraft_product_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> <!-- watercraft_report -->
   
   <xs:complexType name="watercraft_product_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:watercraft_report_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- watercraft_product_result -->
   
   <xs:simpleType name="watercraft_report_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="Watercraft_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- watercraft_report_format -->
	<xs:element name="report_alerts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
				<xs:element name="report" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="format" type="rf:report_alerts_format" use="required"/>
		</xs:complexType>
	</xs:element>
	 <!-- report_alerts -->
	<xs:simpleType name="report_alerts_format">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass name="ReportAlertsReturnFormatEnum"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="CP XML"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- report_alerts_format -->
	
 <xs:element name="loss_damage_waiver_score">
	 <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:loss_damage_waiver_score_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> 
	</xs:element><!-- loss_damage_waiver_score_report -->
   
   <xs:complexType name="loss_damage_waiver_score_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:loss_damage_waiver_score_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- loss_damage_waiver_score_result -->
   
   <xs:simpleType name="loss_damage_waiver_score_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="loss_damage_waiver_score_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- loss_damage_waiver_score_format -->
   
    <xs:complexType name="email_search">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:email_search_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> <!-- email_search -->
   
   <xs:complexType name="email_search_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:email_search_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- email_search_result -->
   
   <xs:simpleType name="email_search_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="email_search_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- email_search_format -->
   
   <xs:complexType name="phone_search">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:phone_search_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> <!-- phone_search -->
   
   <xs:complexType name="phone_search_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:phone_search_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- phone_search_result -->
   
   <xs:simpleType name="phone_search_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="phone_search_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- phone_search_format -->
   
   <xs:complexType name="rollup_person_search">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:rollup_person_result" minOccurs="0"/>
         </xs:sequence>
	</xs:complexType> <!-- rollup_person_search -->
   
   <xs:complexType name="rollup_person_result">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:rollup_person_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- rollup_person -->
   
   <xs:simpleType name="rollup_person_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="rollup_person_ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- rollup_person_format -->
   
<xs:element name="household_member">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
               <xs:element name="report" type="rf:household_member_report" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="subject" type="xs:string" use="optional"/>
        </xs:complexType>
   </xs:element> <!-- household_member -->
    
   <xs:complexType name="household_member_report">
        <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="format" type="rf:household_member_format" use="required"/>
            </xs:extension>
        </xs:simpleContent>
   </xs:complexType>  <!-- household_member_report -->
    
    
   <xs:simpleType name="household_member_format">
        <xs:annotation>
            <xs:appinfo>
               <jxb:typesafeEnumClass name="HouseHoldMemberReturnFormatEnum"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">            
            <xs:enumeration value="CP XML"/>
            <xs:enumeration value="RISK XML"/>
        </xs:restriction>
   </xs:simpleType>  <!-- household_member_format -->

    <xs:element name="instantid">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
                <xs:element name="report" type="rf:instantid_product_result" minOccurs="0"/>
                <xs:element name="formatted_report" type="rf:formated_report" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="subject" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element> <!-- instantid -->
    
    <xs:complexType name="auto_rating">
         <xs:sequence>
            <xs:element name="residence" type="rf:residence_pack" minOccurs="0"/>
 			<!-- professional pack is next phase -->
         </xs:sequence>
   </xs:complexType>   
   
     <xs:complexType name="residence_pack">
         <xs:sequence>
          	 <xs:element name="current_address" type="rf:auto_rating_report" minOccurs="0"/>
		 	 <xs:element name="length_of_residency" type="rf:auto_rating_report" minOccurs="0"/>
		 	 <xs:element name="homeownership" type="rf:auto_rating_report" minOccurs="0"/>
			 <xs:element name="parking_type_capacity" type="rf:auto_rating_report" minOccurs="0"/>
         </xs:sequence>
   </xs:complexType> 
   
    <xs:complexType name="auto_rating_report">
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="rf:report_type" minOccurs="0"/><!-- residence_pack_result -->
         </xs:sequence>
	</xs:complexType> <!-- auto_rating_report -->
	
   
   <xs:complexType name="report_type">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="format" type="rf:result_format" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>  <!-- report_type -->
   
   <xs:simpleType name="result_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="ReportFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="RISK XML"/> 
      </xs:restriction>
   </xs:simpleType>  <!-- result_format -->
   
    <xs:element name="optional_products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
                <xs:element name="optional_product_type" type="xs:string" minOccurs="0"/>
                <xs:element name="report" type="rf:report_type" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> <!-- optional_products -->
    <xs:element name="carrier_discovery_live">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:carrier_discovery_live_format" use="required" />
      </xs:complexType>
   </xs:element> <!-- carrier_discovery_live -->

   <xs:simpleType name="carrier_discovery_live_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CarrierDiscoveryLiveReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- carrier_discovery_live_format -->
  
  <xs:element name="lead_optimizer">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:lead_optimizer_format" use="required" />
      </xs:complexType>
   </xs:element> <!-- lead_optimizer -->

   <xs:simpleType name="lead_optimizer_format">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="LeadOptimizerReturnFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  <!-- lead_optimizer_format -->
   
    <xs:element name="BuildingPermit">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:BuildingPermitFormat" use="required" />
      </xs:complexType>
   </xs:element> <!-- Permit Data -->
   
   <xs:element name="PhysiciansInfo">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:PhysiciansInfoFormat" use="required" />
      </xs:complexType>
   </xs:element> <!-- PhysiciansInfo Data -->
   
     <xs:element name="PropertyData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:PropertyDataFormat" use="required" />
      </xs:complexType>
   </xs:element> <!-- Permit Data -->
   
   
   <xs:simpleType name="BuildingPermitFormat">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="BuildingPermitFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType> 
   <xs:simpleType name="PhysiciansInfoFormat">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="PhysiciansInfoFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType> 
   
   
     <xs:simpleType name="PropertyDataFormat">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="PropertyDataFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  
	
	<xs:element name="ForeclosureVacancyReport">
      	<xs:complexType>
         	<xs:sequence>
            	<xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            	<xs:element name="report" type="xs:string" minOccurs="0"/>
         	</xs:sequence>
        	<xs:attribute name="format" type="rf:ForeclosureVacancyReportFormat" use="required" />
    	</xs:complexType>
   	</xs:element> <!-- Permit Data -->

	<xs:simpleType name="ForeclosureVacancyReportFormat">
      	<xs:annotation>
         	<xs:appinfo>
            	<jxb:typesafeEnumClass name="ForeclosureVacancyReportFormatEnum"/>
        	</xs:appinfo>
      	</xs:annotation>
      	<xs:restriction base="xs:string">       
    		<xs:enumeration value="CP XML"/>
    	</xs:restriction>
   	</xs:simpleType>  
  
   <xs:element name="CurrentCarrierOnly">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            <xs:element name="report" type="xs:string" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="format" type="rf:CurrentCarrierOnlyFormat" use="required" />
      </xs:complexType>
   </xs:element> <!-- current carrier only -->
   
   <xs:simpleType name="CurrentCarrierOnlyFormat">
      <xs:annotation>
         <xs:appinfo>
            <jxb:typesafeEnumClass name="CurrentCarrierOnlyFormatEnum"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">       
         <xs:enumeration value="CP XML"/>
      </xs:restriction>
   </xs:simpleType>  

	<xs:element name="FraudPoint">
		<xs:complexType>
			<xs:sequence>
            	<xs:element name="messages" type="rf:messageListType" minOccurs="0"/>
            	<xs:element name="report" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="format" type="rf:FraudPointFormat" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="FraudPointFormat">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass name="FraudPointFormatEnum" />
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RISK XML" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
